[package]
name = "my_programming_language"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
miette = "4.7.1"
thiserror = "1.0.31"
